@using Microsoft.AspNetCore.Identity
@using Saydalia_Online.Areas.Identity.Data

@inject SignInManager<Saydalia_Online_AuthUser> SignInManager
@inject UserManager<Saydalia_Online_AuthUser> UserManager


<ul class="navbar-nav flex-md-row">
@if (User.Identity.IsAuthenticated && SignInManager.IsSignedIn(User))
{
 
    <li class="nav-item">
        @* <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a> *@
            <a id="manage" class="nav-link text-dark mr-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result.name
           </a>

    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline mt-1" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-danger ml-2 text-light border-0 rounded p-1 px-2 text-center">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-light btn-success rounded py-1 mr-3   text-center " style="width:100px;" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>

    <li class="nav-item">
            <a class="nav-link text-light btn-warning rounded py-1 text-center" style="width:100px;" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>

}
</ul>
