
@{
    ViewData["Title"] = "Create";

}

<div class="container">

    <h1>Create Category</h1>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="All"></div>
        <partial name="PartialViews/_CreateEditCategoryPartialView" />
        <br />
        <br />
        <input type="submit" value="Submit" class="btn btn-primary" /> |
        <a class="btn btn-light" asp-action="Index">Back To List</a>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</div>
