﻿<div class="row mt-5">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Register is completed successfully</h2>
        <p>You can Log in now</p>
        <hr />
        <p>Thank you!</p>
        <a class="btn btn-success" asp-action="Login" asp-controller="Account">Log In</a>
    </div>
</div>